#about {
    min-height: 100vh;
}

#about .section {
    height: 80vh;
}

#about img {
    max-width: 30vw;
    flex-grow: 1;
}

.about-underline {
    border-top: 10px solid #611263;
}

.about-text {
    
}