#about {
    min-height: 100vh;
}

#about .section {
    height: 80vh;
}

#about-image > img{
    max-width: 30vw !important;
    flex-grow: 1;
}

.title-underline {
    border-top: 10px solid #611263;
}
