#banner {
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}


.banner-image img {
    border-radius: 50%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: grayscale(1) contrast(1.3);
    max-width: 500px;
}

h1 {
    font-size: 80px;
    border-bottom: 8px solid #611263;
}

#banner-subheader {
    text-align: right;
}

.banner-title {
    margin-bottom: 80px;
}

.banner-socials {
    display: flex;
    justify-content: space-around;
}

.banner-social {
    font-size: 48px;
    color: white;
    transition: 0.5s;
}

.banner-social:hover {
    color: #611263;
}

.purple {
    color: #611263;
}

.banner-arrow {
    font-size: 80px;
    position: absolute;
    bottom: 20px
}