#banner {
    height: 90vh;
    position: relative;
    flex-wrap: wrap-reverse;
}


.banner-image img {
    border-radius: 50%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: grayscale(1) contrast(1.2) brightness(.9);
    
}

h1 {
    font-size: 80px;
    border-bottom: 8px solid #611263;
}

#banner-subheader {
    text-align: right;
}

.banner-title {
    margin-bottom: 80px;
}

.banner-socials {
    display: flex;
    justify-content: space-around;
}

.banner-social {
    font-size: 48px;
    color: white;
    transition: 0.5s;
}

.banner-social:hover {
    color: #611263;
}

.purple {
    color: #611263;
}

.banner-arrow {
    font-size: 140px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.banner-arrow {
    animation: bounce 12s;
    animation-iteration-count: single;
  }
  
  @keyframes bounce {
    0% { transform: translate(0px, 0px); }
    5% { transform: translate(0px, -100px); }
    10% { transform: translate(0px, 0px); }
    15% { transform: translate(0px, -100px); }
    20% { transform: translate(0px, 0px); }
    25% { transform: translate(0px, -100px); }
    30% { transform: translate(0px, -50px) rotate(90deg); }
    35% { transform: translate(0px, -50px) rotate(130deg); }
    45% { transform: translate(0px, -50px) rotate(270deg); }
    50% { transform: translate(0px, -50px) rotate(360deg); }
    52% { transform: translate(0px, -50px) rotate(360deg); }
    55% { transform: translate(0px, -50px) rotate(180deg); }
    60% { transform: translate(0px, 0px) rotate(180deg); }
    70% { transform: translate(0px, 0px); }
  }