#nav {
  padding: auto 20px;
}

.nav-link {
  color: white !important;
  font-size: 40px;
  font-family: coustard, serif;
  font-weight: 600;
  border-bottom: 8px solid transparent;
  padding-bottom: 0;
  transition: .5s;
}

.nav-link:hover {
  color: #8c008f;
  border-bottom: 8px solid white;
}

.navbar-nav {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
